IP_TEAM=127.0.0.2
PUERTO_TEAM=6012
POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
POKEMON_ENTRENADORES=[]
OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=5
ESTIMACION_INICIAL=5
IP_BROKER=127.0.0.1 
PUERTO_BROKER=6009
LOG_FILE=./cfg/logObligatorio.log
LOG_FILE_OPTIONAL=./cfg/logOptional.log
CONNECTION_TIME=10 
ALGORITMO_PLANIFICACION=RR
QUANTUM=1
ALPHA=0
