IP_BROKER=127.0.0.1
LOG_FILE=./cfg/obligatory.log
OPTIONAL_LOG_FILE=./cfg/optional.log
LOG_SHOW=1
OPTIONAL_LOG_SHOW=0
DUMP_FILE=./cfg/cache.tmp
PUERTO_BROKER=6009
TAMANO_MEMORIA=64
TAMANO_MINIMO_PARTICION=4
ALGORITMO_MEMORIA=PARTICIONES
ALGORITMO_REEMPLAZO=FIFO
ALGORITMO_PARTICION_LIBRE=FF
FRECUENCIA_COMPACTACION=1
